{% from 'oscar-mod/macros.html' import icon %}
<div class="alert alert-info fade in" role="alert">
    <strong class="lead">{{ icon('info-sign') }} {{ _('Information!') }}</strong>
    {{ _('currently, there are no cookies defined.') }}
</div>
